---
import Layout from "../layouts/Layout.astro";
const whitePeopleLabel = "waarom witte mensen";
const moreDetailLabel = "meer detail";
const howWasThisAtTheVPROLabel = "hoe was dit bij de VPRO?";
---

<Layout title="Een inclusieve IT afdeling">
  <script>
    const supported = HTMLElement.prototype.hasOwnProperty("popover");
    if (!supported) {
      const toggleButtons = document.querySelectorAll(
        "button[popovertargetaction='toggle']"
      );
      toggleButtons.forEach((toggleButton) =>
        toggleButton.addEventListener("click", () => {
          const id = toggleButton.getAttribute("popovertarget");
          if (id) {
            const element = document.getElementById(id);
            if (element?.getAttribute("open") === "") {
              element.removeAttribute("open");
            } else {
              element?.setAttribute("open", "");
            }
          }
        })
      );

      const hideButtons = document.querySelectorAll(
        "button[popovertargetaction='hide']"
      );
      hideButtons.forEach((hideButton) =>
        hideButton.addEventListener("click", () => {
          const id = hideButton.getAttribute("popovertarget");
          if (id) {
            const element = document.getElementById(id);
            element?.removeAttribute("open");
          }
        })
      );
    }
  </script>
  <main>
    <p>
      Op deze pagina probeer ik hetzelfde te bereiken als <a
        href="https://nl.wikipedia.org/wiki/Virgil_Abloh">Viril Abloh</a
      > met <a href="https://virgilabloh.com/free-game/">Free Game</a>. In de
      "Free Game" geeft hij mentoorschap aan jonge zwarte mensen bij het
      opstraten van een merk.
    </p>
    <p>
      Ik wil jonge witte mensen (<button
        popovertarget="waarom-witte-mensen"
        popovertargetaction="toggle">{whitePeopleLabel}</button
      >) helpen die hun IT afdeling inclusiever willen maken. Door mijn eigen
      ervaring te delen.
    </p>
    <dialog id="waarom-witte-mensen" popover>
      <h4>{whitePeopleLabel}</h4>
      <p>
        Ik denk dat de oplossing voor ons huidige diveristeits probleem binnen
        de IT wereld moet komen van de mensen die nu de macht hebben binnen deze
        plekken. Dit zijn momenteel witte mensen, daarom is deze essay gericht
        op witte mensen. Wij moeten een oplossingen vinden hoe wij de plekken
        waar wij werken fijnere werkplekken maken voor mensen uit
        gemarganisaliseerde groepen.
      </p>
      <button popovertarget="waarom-witte-mensen" popovertargetaction="hide"
        >sluit uitleg</button
      >
    </dialog>
    <section>
      <h1>Een inclusieve IT afdeling voor jou bedrijf</h1>
      <h2 class="sub-heading">Door deze opdrachten te doen met je team</h2>
      <p>
        Ik zal in de opdrachten referenties maken naar hoe deze opdracht voor
        mij is gegaan tijdens mijn werktijd bij de VPRO. Door het delen van deze
        ervaringen hoop ik dat de opdrachten beter uitvoerbaar worden voor
        jezelf. En ook een beetje voor de juice, because who doesn't love een
        beetje juice.
      </p>
      <h3>1. Beoordeel de beschrijving van jou functie</h3>
      <p>
        Vraag de beschrijving van jou functie op bij de gene die deze heeft
        (bijvoorbeeld, hoofd van afdeling, persoonszaken of de baas van het
        bedrijf).
      </p>
      <p>
        Welke kwaliteiten staan hier beschreven die nodig zijn om de functie te
        vervullen? Zijn dit kwaliteiten die klassiek als mannelijk worden
        beschouwd? <button
          popovertarget="hoe-was-dit-bij-de-vpro"
          popovertargetaction="toggle">Hoe was dit bij de VPRO?</button
        >
      </p>
      <dialog id="hoe-was-dit-bij-de-vpro" popover>
        <h4>{howWasThisAtTheVPROLabel}</h4>
        <p>
          Bij de VPRO stonden er de volgende kwaliteiten op de functie van
          senior frontend developer. Je moet goed mensen kunnen overtuigen van
          jou ideeen, binnen en buiten de afdeling (een mannelijke kwaliteit).
          Je moet een groot netwerk hebben binnen de industrie (een mannelijke
          kwaliteit).
        </p>
        <button
          popovertarget="hoe-was-dit-bij-de-vpro"
          popovertargetaction="hide">sluit uitleg</button
        >
      </dialog>
      <p>
        Kijk of je hier een diverser beeld van kan maken. Vaak zijn kwaliteiten
        die niet worden meegenomen in programeer banen dingen als.
        <ul>
          <li>Zorg jij dat elke stem gehoord wordt een meeting?</li>
          <li>
            Als er onenigheid in een team is zorg jij dan dat dit uitgepraat
            wordt?
          </li>
        </ul>
      </p>
      <h3>2. Belicht diveristeit binnen huidige groep</h3>
      <p>
        Zoek naar manieren om binnen de huidige groep de diveristeit die er al
        is te belichten. Dit helpt om te belichten dat er altijd veel verschil
        is tussen de mensen. Het maakt vaak niet uit dat ze er hetzelfde uitzien
        er zijn altijd verschillen die vaak onderbelicht blijven. Door deze
        verschillen te belichten creeer je bewust zijn bij de afdeling hierover.
        Als dit de cultuur is dan zal het makkelijker zijn om mensen met een
        diversere achtergrond het gevoel te geven dat ze erbij horen. Opdrachten
        die je kan gebruiken om de diveristeit in de groep naar boven te halen.
        <ul>
          <li>
            Waardoor voel jij je gemotiveerd, veilig, en gewaardeerd? <button
              popovertarget="meer-detail"
              popovertargetaction="toggle">{moreDetailLabel}</button
            >
          </li>
          <li>Welke grenzen stel jij voor jezelf op werk?</li>
        </ul>
        <dialog id="meer-detail" popover>
          <h4>{moreDetailLabel}</h4>
          <div>
            <p>
              Heb een gesprek met de collega waar je het meest mee samen werk.
              Doe deze oefening eerst met deze persoon. Als dit goed gaat. Doe
              het dan met 3 a 4 collegas. Het is vooral belangrijk dat je in
              deze fase niet praat over oplossingen voor eventuele problemen,
              maar vooral antwoord geeft op de vragen en hoe je dit nu ervaart.
              Later in het process kan je het hebben over oplossingen.
            </p>
            <p>
              De IT wereld wordt gedomineerd door mannen, mannen hebben de
              nijging snel in oplossingen te denken. Probeer hier voor te waken
              en juist een plek te creeeren tijdens deze oefening op naar elkaar
              te luisteren.
            </p>
          </div>
          <button popovertarget="meer-detail" popovertargetaction="hide"
            >sluit uitleg</button
          >
        </dialog>
      </p>
    </section>
  </main>
  <script>
    const mainHeading = document.querySelector("section");
    mainHeading?.scrollIntoView(true);
  </script>
</Layout>

<style>
  main {
    margin: auto;
    padding-inline: 1.5rem;
    max-width: 80ch;
    line-height: 1.5;
    font-size: 1.1em;
  }
  section {
    padding-block: 1.5rem;
    margin-trim: block;
  }

  @supports not (margin-trim: block) {
    h1 {
      margin-block-start: 0;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .sub-heading {
    font-weight: 300;
  }
  [popover]::backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    animation: fade-in 1s ease-out;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  [popover] {
    clip-path: polygon(96% 0, 100% 7%, 100% 100%, 0 100%, 0 0);
    border: 0;
    max-width: 60ch;
    line-height: 1.4;
    padding: 1em;
    margin-trim: block;
    background-color: var(--popover-background-color);
    color: var(--popover-text-color);
  }
  [popover] > button {
    display: block;
    margin-inline-start: auto;
  }
  [popover] :is(h1, h2, h3, h4, h5) {
    line-height: 1.1;
  }

  /* This is to prevent a content shift before the polyfill loads */
  @supports not selector([popover]:open) {
    [popover] {
      /* Overwrite dialog positon absolute */
      position: static;
    }
    [popover]:not([open]) {
      display: none;
    }
  }
</style>
